name: CI

on:
  push:
    paths:
      - 'GameFinder**'
      - '.github/workflows/**'
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Clear local NuGet cache (workaround for failed restores on windows-latest)
      run: dotnet clean && dotnet nuget locals all --clear
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      env:
        CI: true
      run: dotnet test --no-build --verbosity normal
